@model ListLogbooksViewModel

@{
    ViewData["Title"] = "All Logbooks for business";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<div class="divider">
    <div class="text-center">
        <h2>All Logbooks for business</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-primary" style="margin-bottom:5%"
           asp-area="Administration" asp-controller="Admin" asp-action="CreateLogbook" asp-route-businessname="@Model.BusinessName">
            <i class="fas fa-plus-circle"></i>
            Create Logbook
        </a>
    </div>
</div>
<table id="table" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th class="info ">Name</th>
            <th class="info ">Description</th>
            <th class="info" id="Operations" width="25%">Operations </th>
        </tr>
    </thead>
    @foreach (var logbook in Model.Logbooks)
    {
        <tr>
            <td>@logbook.Name</td>
            <td>@logbook.Description</td>
            <td>
                <a class="btn btn-info btn-sm"
                   asp-area="Administration" asp-controller="Admin" asp-action="AllLogbooksForBusiness" asp-route-name="@logbook.Name">
                    <i class="fas fa-info"></i>
                    Logbook Details
                </a>
                <a class="btn btn-danger btn-sm" style="margin-top:5%"
                   asp-area="Administration" asp-controller="Admin" asp-action="AddImageToBusiness" asp-route-name="@logbook.Name">
                    <i class="fa fa-trash"></i>
                    Delete Logbook
                </a>
            </td>
        </tr>
    }
</table>


@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                responsive: true,
                stateSave: true,
                //"lengthChange": false,
                "iDisplayLength": 10,
                "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
                "columns": [
                    null,
                    null,
                    null,
                    { "orderable": false }
                ]
            });
        });
    </script>
}