@model NoteViewModel

@{
    ViewData["Title"] = "_NotePartial";
}

<div class="pricing-option" id="@Model.Id">
    <i class="fas fa-clipboard"></i>
    <h1 class="note-title">@Model.User.Email</h1>
    <hr />
    <p>@Model.Text</p>
    <hr />
    <p>@Model.PriorityType</p>
    <hr />
    <div class="price">
        <div class="front">
            <span class="note-title">@Model.Category?.Name </span>
        </div>
        <div class="back">
            <i class="fas fa-edit" id="editNote" data-Id="@Model.Id"></i>
            @*<i class="material-icons" style="font-size:36px">camera_alt</i>*@
            <i class="fas fa-trash-alt" id="deleteNote" data-Id="@Model.Id"></i>
            <div class="note-createdOn">Created: @Model.CreatedOn.Value.ToLongDateString()</div>
        </div>
    </div>
</div>

