@model ManagementIndexViewModel

@{
    ViewData["Title"] = "Management Page";
}

<div class="dropdown">
    <div class="">
        <a asp-area="Management" asp-controller="Management" asp-action="CreateNote" data-name="@User.Identity.Name" class="btn btn-warning float-right logbookButton" id="createNoteButton">
            Create Note
        </a>
    </div>
    <button class="btn btn-warning dropdown-toggle logbookButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.SpecifiedLogbook.Name
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var logbook in Model.Logbooks)
        {
            <a asp-area="Management" asp-controller="Management" asp-action="Index" asp-route-email="@User.Identity.Name" asp-route-specifiedLogbook="@logbook.Name" class="dropdown-item">
                @logbook.Name
            </a>
        }
    </div>
</div>

<partial name="_LogbookPartial" model="@Model.SpecifiedLogbook" />
@*@foreach (var logbook in Model.Logbooks)
{
    <partial name="_LogbookPartial" model="logbook" />
}*@

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">Creating a note...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createNoteForm" asp-action="CreateNote" asp-controller="Management" asp-area="Management" asp-route-name="@User.Identity.Name">
                    <input type="hidden" name="email" value="@User.Identity.Name" />
                    <input type="hidden" name="currentLogbookOn" value="@Model.SpecifiedLogbook.Name" />
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <textarea class="form-control mb-10" rows="5" name="text" placeholder="Text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Text'"
                                  required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="department">Select Category</label>
                        <select class="form-control" id="department" name="category"></select>
                    </div>
                    <div class="form-group">
                        <label for="pickLogbook">Select Logbook</label>
                        <select class="form-control" id="pickLogbook" name="logbook"></select>
                    </div>
                    <div class="form-group">
                        <label for="pickPriority">Select Priority</label>
                        <select class="form-control" id="pickPriority" asp-items="@Html.GetEnumSelectList<PriorityType>()" name="priority"></select>
                        <span></span>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success btnSave">Create Note</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/management.js"></script>
}
