@model BusinessViewModel

@{
    ViewData["Title"] = "_BusinessPartialView";

}
<tr>
    <td>@Model.Name</td>
    <td>@Model.Location</td>
    <td>@Model.Description</td>
    <td>
        @*<form asp-area="Administration" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Delete user</button>
                </div>

            </form>*@
        <a class="btn btn-info btn-sm"
           asp-area="Administration" asp-controller="Admin" asp-action="AllLogbooksForBusiness" asp-route-name="@Model.Name">
            <i class="fas fa-pencil-alt"></i>
            Manage Logbooks
        </a>
        <a class="btn btn-primary btn-sm" style="margin-top:5%"
           asp-area="Administration" asp-controller="Admin" asp-action="AddImageToBusiness" asp-route-businessname="@Model.Name">
            <i class="fas fa-images"></i>
            Add Image
        </a>
    </td>
</tr>


@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}