@inject HotelManagement.Services.Wrappers.Contracts.IUserManagerWrapper UserManager
@model UserViewModel
@{
    ViewData["Title"] = "_UserPartialView";
}

<tr class="deleteUserRow" id="user-tr-@Model.Id">
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td class="roleofUser">@string.Join(", ", await UserManager.GetAllRoles(Model.UserName))</td>
    <td>
        <a class="btn btn-success btn-sm promote-toggler" data-target="#MyModal2" data-toggle="modal" att="@Model.Id"
           asp-area="Administration" asp-controller="Admin" asp-action="PromoteUser" asp-route-id="@Model.Id">
            <i class="fas fa-pencil-alt"></i>
            Promote user
        </a>
        <form class="delete-user-form">
            <div class="col-sm-2" style="margin-top:5%"></div>
            <input type="submit" class="btn btn-danger btn-sm delete-user-button DeleteUserRecord" value="&#x1F5D1;DeleteUser" data-id="@Model.Id"/>
                @*<i class="fa fa-trash"></i>*@
        </form>
    </td>
</tr>
<span id="anti-forgery-span">@Html.AntiForgeryToken()</span>

